[submodule "wpscan"]
	path = wpscan
	url = https://github.com/wpscanteam/wpscan.git
[submodule "BurpToggle"]
	path = BurpToggle
	url = https://github.com/melvinsh/BurpToggle.git
[submodule "dirsearch"]
	path = dirsearch
	url = https://github.com/maurosoria/dirsearch.git
[submodule "subbrute"]
	path = subbrute
	url = https://github.com/TheRook/subbrute
[submodule "jexboss"]
	path = jexboss
	url = https://github.com/joaomatosf/jexboss.git
[submodule "gitTools"]
	path = gitTools
	url = https://github.com/internetwache/GitTools
[submodule "nmap"]
	path = nmap
	url = https://github.com/nmap/nmap
[submodule "oxml_xxe"]
	path = oxml_xxe
	url = https://github.com/BuffaloWill/oxml_xxe
[submodule "ssrf_proxy"]
	path = ssrf_proxy
	url = https://github.com/bcoles/ssrf_proxy
