[submodule "wpscan"]
	path = webapps/wpscan
	url = https://github.com/wpscanteam/wpscan.git
[submodule "BurpToggle"]
	path = general/BurpToggle
	url = https://github.com/melvinsh/BurpToggle.git
[submodule "dirsearch"]
	path = webapps/dirsearch
	url = https://github.com/maurosoria/dirsearch.git
[submodule "subbrute"]
	path = networks/subbrute
	url = https://github.com/TheRook/subbrute
[submodule "jexboss"]
	path = webapps/jexboss
	url = https://github.com/joaomatosf/jexboss.git
[submodule "gitTools"]
	path = webapps/gitTools
	url = https://github.com/internetwache/GitTools
[submodule "nmap"]
	path = networks/nmap
	url = https://github.com/nmap/nmap
[submodule "oxml_xxe"]
	path = webapps/oxml_xxe
	url = https://github.com/BuffaloWill/oxml_xxe
[submodule "ssrf_proxy"]
	path = webapps/ssrf_proxy
	url = https://github.com/bcoles/ssrf_proxy
[submodule "HTTPLeaks"]
	path = webapps/HTTPLeaks
	url = https://github.com/cure53/HTTPLeaks
[submodule "networks/subresolve"]
	path = networks/subresolve
	url = https://github.com/melvinsh/subresolve
